In [2]:
import pandas as pd

In [3]:
df_AE = pd.read_table('OutputFiles/SQL/AvE_trans.out', names=['qseqid', 'sseqid', 'qlen', 'slen', 'bitscore', 'evalue', 'pident', 'nident', 'length', 'qcovs', 'qstat', 'qend', 'sstart', 'send', 'scov'])
df_EA = pd.read_table('OutputFiles/SQL/EvA_trans.out', names=['qseqid', 'sseqid', 'qlen', 'slen', 'bitscore', 'evalue', 'pident', 'nident', 'length', 'qcovs', 'qstat', 'qend', 'sstart', 'send', 'scov'])

In [4]:
idx = df_AE.groupby(['qseqid'])['bitscore'].transform(max) == df_AE['bitscore']
max_df_AE = df_AE[['qseqid', 'sseqid', 'bitscore']].loc[idx]

idx = df_EA.groupby(['qseqid'])['bitscore'].transform(max) == df_EA['bitscore']
max_df_EA = df_EA[['qseqid', 'sseqid', 'bitscore']].loc[idx]

In [5]:
df_homologs = pd.DataFrame(columns=['g1', 'g2', 'relationship', 'method'])

In [12]:
for i, row in max_df_AE.iterrows():
    if row.qseqid in max_df_EA.loc[max_df_EA['qseqid'] == row.sseqid]['sseqid'].values:
        df_homologs.loc[len(df_homologs)] = [row.qseqid, row.sseqid, 'Orthologs', 'BDBH']

In [13]:
df_homologs.head()

             g1         g2 relationship method
0  WP_003150544  NP_415676    Orthologs   BDBH
1  WP_003491840  NP_417918    Orthologs   BDBH
2  WP_003492069  NP_415530    Orthologs   BDBH
3  WP_003492508  NP_417097    Orthologs   BDBH
4  WP_003492686  NP_417652    Orthologs   BDBH

In [14]:
df_AE.head()

,qseqid,sseqid,qlen,slen,bitscore,evalue,pident,nident,length,qcovs,qstat,qend,sstart,send,scov
0,WP_000904906,NP_415676,204,184,146.0,2.000000e-44,54.37,87,160,78,160,1,151,335,0.869565
1,WP_000904906,NP_416063,204,196,91.3,3.000000e-23,32.98,62,188,90,185,4,186,382,0.959184
2,WP_000904906,NP_415892,204,196,90.9,3.000000e-23,32.45,61,188,90,185,4,186,382,0.959184
3,WP_003089120,NP_417751,132,141,75.1,2.000000e-18,33.86,43,127,93,129,4,130,271,0.900709
4,WP_003089120,NP_415020,132,135,70.9,5.000000e-17,32.28,41,127,95,129,1,126,261,0.940741

In [15]:
df_EA.head()

,qseqid,sseqid,qlen,slen,bitscore,evalue,pident,nident,length,qcovs,qstat,qend,sstart,send,scov
0,NP_414543,WP_004432098,820,425,133.0,6.000000e-34,28.69,136,474,55,456,5,417,842,1.115294
1,NP_414543,WP_003515377,820,436,75.5,5.000000e-15,30.00,75,250,30,810,96,316,752,0.573394
2,NP_414543,WP_035218853,820,240,36.6,5.000000e-03,32.65,16,49,6,255,143,191,431,0.204167
3,NP_414544,WP_038489896,310,294,42.0,3.000000e-05,23.96,69,288,85,278,33,274,568,0.979592
4,NP_414545,WP_003511817,428,465,223.0,1.000000e-67,31.42,137,436,94,402,1,435,900,0.937634